 {% extends "partials/layout.html" %} 
      {% block header %}
      {% include "partials/header.html" %}
      {% endblock header %}


      {% block slide %}
      {% include "partials/slide.html" %}
      {% endblock slide %}
    
  

      {% block trending_news %}
      {% include "partials/trending_news.html" %}
      {% endblock trending_news %}
  
 
    <!-- END section -->

    
      {% block category_news %}
      {% include "partials/category_news.html" %}
      {% endblock category_news %}
   


   
      {% block recent_news %}
      {% include "partials/recent_news.html" %}
      {% endblock recent_news %}
    

   
      {% block subscribe %}
      {% include "partials/subscribe.html" %}
      {% endblock subscribe %}
   
    
    
      {% block footer %}
      {% include "partials/footer.html" %}      
      {% endblock footer %}
    
    

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}
